---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

import en from "../language/en.json";
import es from "../language/es.json";

const lang = Astro.cookies.get("lang")?.value || "en";
const t = lang === "es" ? es.PROJECTS : en.PROJECTS;
const more = lang === "es" ? es.INDEX.seeAllProjects : en.INDEX.seeAllProjects;

// Iconos y estilos no se traducen, así que se mantienen aquí
const TAGS = {
  REACT: {
    name: "React",
    class: "bg-blue-500 text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#f29f5f] text-white",
    icon: Tailwind,
  },
  GOOGLE_API: {
    name: "Google API",
    class: "bg-[#4285F4] text-white",
    icon: Tailwind,
  },
};

// Convertimos los tags del JSON en objetos completos
const PROJECTS = t.map((project) => ({
  ...project,
  tags: project.tags.map((key) => TAGS[key as keyof typeof TAGS]),
}));
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class=" flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <a class="w-full md:w-1/2" href={link} target="_blank" rel="noopener">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </a>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }

  <div class="mt-6 text-center">
    <a
      href="/projects"
      onclick="window.location.href='/projects'"
      class="inline-block px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition"
    >
      {more || "Ver todos los proyectos"}
    </a>
  </div>
</div>
